@charset "UTF-8";
header{
    background-color: #008000;
    border: 1px solid black;
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 10px;
}
header>nav{
    padding: 10px;
}
nav>a{
    text-decoration: none;
    color:white;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    padding-bottom: 20px;
}
nav>a:hover{
    background-color: #06a106;
    border-radius: 40px;
    border: 1px solid black;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
h2{
    text-align: center;
    color: #008000;
    padding: 60px;
}
h3{
    text-align: center;
    color: white;
    background-color: #06a106;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
    border: 1px solid black;
}
p{
    text-align: center;
    color: green;
    padding: 20px;
    font-weight: bold;
}
main{
    margin: auto;
}
.img>abb{
    margin: auto;
}
footer{
    text-align: center;
    color: white;
    background-color: #008000;
    padding-top: 10px;
    padding-bottom: 40px;
    font-size: 18px;
}
div>a{
    text-decoration: none;
}